.nube1{
    position: absolute;
    bottom: 10px;
    animation: nube1 40s infinite linear;
    z-index: 2;
}

.portada{

    background-color: var(--rosa);
    position: relative;
    height: 600px;
    width: 100%;
    display: grid;
    align-items: center;

    & h1{
        font-family: var(--titulos);
        color: white;
        font-size: 8em;
        -webkit-text-stroke: 5px var(--naranja);
        text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
        text-align: center;
        z-index: 11;
    }

}

img.d1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.content{
    display: grid;
    grid-template-columns: 30% 70%;
}

.revista iframe{
    width: 100%;
    height: 500px;
}

.edición{
    background-image: url(../img/fondo-decoracion.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 40px;
    text-align: center;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    & h2{
        color: white;
    }
    & img{
        width: 160px;
    }
}

footer{
    background-color: var(--naranja);

    & img.d2{
        width: 100%;
        top: 0;
        left: 0;
    }
}

.foot1{
    display: grid;
    grid-template-columns: 50% 50%;

    & ul li{
        list-style: none;
    }
    & a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        &:hover{
            color: #313131;
        }
    }
    & ion-icon{
        display: flexbox;
        font-size: 30px;
        gap: 10px;
        margin-top: 40px;
    }
}

.foot1-2{
    display: grid;
    justify-items: right;

    & p{
        color: white;
        font-weight: bold;
    }
}

.foot2{
    color: white;
    display: grid;
    justify-content: center;
    padding: 20px 0;

    & p{
        display: flex;
        align-items: center;
    }
}

/*=====RESPONSIVE=====*/

/*PORTÁTILES*/

@media screen and (max-width: 1280px){
    .foot1-2 img{
        width: 240px;
    }
    
    .content{
        grid-template-columns: 100%;
        margin-top: 40px;
    }
    .edición{
        margin: 0px;
        display: flex;
        padding: 15px 0;
    }
}

/*TABLET*/
@media screen and (max-width: 1080px){
    .portada{
        & h1{
            font-size: 6em;
        }
    }
}

/*=====CELULAR=====*/

@media screen and (max-width: 780px){
    .margen{
        max-width: 85%;
        margin: 0 auto;
    }
    

 /*PORTADA*/
    .portada{
        & h1{
            font-size: 5em;
            text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
            -webkit-text-stroke: 4px var(--naranja);
        }
        & .nube1{
            width: 200px;
        }
        & .nube2{
            width: 200px;
        }
    }

    .edición img{
        width: 80px;
    }

    .revista iframe{
        width: 100%;
        height: 300px;
    }

    .foot1{
        grid-template-columns: 100%;
        justify-items: center;
        text-align: center;
        gap: 20px;
    }

    .foot1-2{
        justify-items: center;
    }

}