/*=====ESTILOS GENERALES=====*/
:root{
    --amarillo: #FED52F;
    --rosa: #FF6462;
    --naranja: #FFA602;
    --verde: #71BE44;
    --azul: #3699A5;
    --titulos: 'Passion One', sans-serif;
    --textos: 'News Cycle', sans-serif;
    --resaltar: 'Nerko One', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    font-family: var(--textos);
    scroll-behavior: smooth;
}

h2{
    font-family: var(--titulos);
    font-size: 2em;
    font-weight: 100;
    color: var(--azul);
}

.margen{
    max-width: 75%;
    margin: 0 auto;
}

@keyframes flotar{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes nube1{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}

.nube2{
    position: absolute;
    top: 65px;
    animation: nube2 40s infinite linear;
    z-index: 10;
}

@keyframes nube2{
    0%{
        transform: translateX(100vw);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100vw);
    }
}

.circle{
    position: absolute;
    top: -20%;
    left: -10%;
    z-index: 5;
}